@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  /* ________________________________________________________________ */

  /* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  section{
    margin-top: 130px;
    border: 1px solid cyan;
  }
nav{
    max-width: 1440px;
    margin: 0px auto;
}
  .display {
    display: flex;
  }
  
  /* colors */
  .dark-1 {
    color: #131313;
  }
  
  .dark-2 {
    color: #424242;
  }
  
  .dark-3 {
    color: #727272;
  }
  .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
  }
  
  .headline{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
    margin-bottom: 25px;
  }
  .description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    text-align: center;
    margin-bottom: 32px;
  }
  .description2{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
    max-width: 542px;
  }
  .btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  /* ____________________________________________________________________ */
  /* nav styles */

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    padding-top: 50px;
  }
  
  nav .logo {
    font-size: 2.8rem;
    font-weight: 700;
  }
  
  nav ul {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  nav ul > li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
  }



/* ___________________________________________________________ */
  .banner{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .banner-content{
    max-width: 862px;
    margin-top: 116px;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
  }
  .banner-image{
    width: 100%;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-bottom: 45px;
  }

  /* ______________________________ */
  .second-section{
    align-items: center;
    justify-content: center;
    gap: 76px;
  }
  .img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .img-container img{
    border-radius: 8px;
    width: 100%;
  }
  .second-section .content{
    max-width: 537px;
  }
  .second-section .content h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
  }
  #span1{
    font-weight: 500;
    color: #727272;
  }
  #span2{
    font-weight: 700;
    color: #FF900E;
  }
  /* ___________________________________________________________________ */
  .fourth-section{
    border: #FF900E 1px solid;
  }
  .fourth-section h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
    color: #131313;
  }
  
  .fact-container{
    /* max-width: 1340px; */
    justify-items: center;
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .fact-item{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .fact-container h3{
    margin-top: 10px;
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px;
  }
  .fact-container p{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
  }
  /* _________________________________________________________________ */
  .fifth-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sponsor-content{
    text-align: center;
    max-width: 542px;
  }
  .sponsor-content h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
    color: #131313;
  }
  .sponsor-container{
    border: 1px solid wheat;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 50px;
    filter: grayscale(100%);
  }











    /* _________mobile responsive media query________________________ */
@media screen and (max-width: 576px){
  nav{
    padding: 1rem;
  }
  .banner{
    padding: 0px 1rem;
  }

  nav, .img-container, .second-section, .fact-container{
    flex-direction: column;
    gap: 20px;
  }
  /* ______________________________ */
  section{
    padding: 0 1rem;
  }
  .img-container, .fact-container{
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .fact-item{
    width: 100%;
  }
  .content{
    margin: 0 1rem;
  }

}





/* _________tablet responsive media query________________________ */
@media screen and (min-width:576px) and (max-width:992px){
  section{
    padding: 20px;
  }
  nav, .banner{
    padding: 1rem;
  }
  
  nav, .img-container, .second-section{
    flex-direction: column;
    gap: 20px;
  }
  /* ______________________________ */
  
  .img-container{
    padding: 20px;
  }
  .content{
    margin: 0 1rem;
  }
  .fact-container{
    /* width: calc(100% - 1rem); */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
